@{
    ViewBag.Title = "Family & Friends Network";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="choose_box remov_padd">

    <div class="sub_page">
        <h1>Family and Friends Network</h1>

        <p>With the Bmobile Family and Friends Network you can now make and receive unlimited calls and SMS from members within your Family and Friends Network for a monthly fee. Family and Friends Network is available to ALL Bmobile customers. A minimum of 2 connections are required to be registered under the same billing account and there are no maximum limitations.This facility is also available to our business customers.</p>

        <p>For more information, call the Bmobile Customer Care on 1555 or Email us at <a href="mailto:support@bmobile.com.pg"> support@bmobile.com.pg</a></p>

    </div>

</div>