@{
    ViewBag.Title = "Network Coverage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="choose_box remov_padd">

    <div class="cover_img">
        <h1>Network Converage</h1>

        <div class="txt" style="width:100%">
            <p style="width:100%">
                <img  alt="Coverage" src="/Images/Coverage.jpg" />

            </p>
        </div>

    </div>

</div>
