@{
    ViewBag.Title = "SMS banking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="choose_box remov_padd">
      <div class="sub_page">
        <h1>SMS Banking</h1>
        <p>BMobile offers you a quick and easy way to do your banking with Bank South Pacific (BSP).Checking your balance and transferring funds between nominated accounts couldn’t be any more convenient. It’s banking on the run so no more queues for you!</p>
        <p>SMS banking is a technology-enabled service offering from banks to their customers, permitting them to operate selected banking services over their mobile phones using SMS messaging. These include services such as bank balance checks and funds transfer.</p>
        <p>To qualify to use the SMS banking service, you must have an existing account with BSP and you must also register with the BSP SMS Banking service. Application forms can be picked up from any BSP branch nationwide.</p>
        <p>Currently, BSP SMS banking via BMobile offers <span>Balance Check</span>- checking your BSP account balance and <span>Funds Transfer-transferring</span> money in between nominated BSP accounts.</p>
        <p>For more information on SMS Banking go to the <span>FAQ’s</span> page.</p>
        
      </div>
    </div>