@model bmcms.Models.static_page_model
@{
    ViewBag.Title = "Store Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .tbl_title {
        color: #c51e1c;
        font-size: 14px;
    }
</style>

<div class="choose_box remov_padd">

    <div class="sub_page">
        <h1>Store Locations</h1>

        <div class="txt">
                    @if (Model != null)
                    {
                        @Html.Raw(Model.page_txt)
                    }
@*            <div class="tbl_title">Port Moresby</div>
            <p><b>bmobile HQ</b></p>
            <p>Waigani Drive</p>
            <p>Mon-Fri 9am &#8211; 5pm</p>
            <p>Sat   9am – 12pm</p>
            <p>&nbsp;</p>
            <p><b>Boroko Post Office</b></p>
            <p>Boroko</p>
            <p>Mon–Fri 8am –4pm</p>
            <p>Sat   8am – 12pm</p>
            <p>&nbsp;</p>
            <p><b>Waterfront Post Office</b></p>
            <p>Waterfront</p>
            <p>Mon-Fri 8am– 5pm</p>
            <p>&nbsp;</p>
            <p><b>Vision City</b></p>
            <p>Vision City Mall</p>
            <p>Daily  9am &#8211; 9pm</p>
            <p>&nbsp;</p>
            <p><b>OriLavi Haus</b></p>
            <p>Boroko</p>
            <p>Mon-Fri 9am &#8211; 5pm</p>
            <p>Sat   9am &#8211; 12pm</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h3><b>Lae</b></h3>
            <p>Main Wharf</p>
            <p>Lae</p>
            <p>Mon-Fri 8am – 5pm</p>
            <p>Sat    8am – 12pm</p>
            <p>&nbsp;</p>
            <h3><b>Mt Hagen</b></h3>
            <p>ANZ Building 1<sup>st</sup> Floor</p>
            <p>Mt Hagen</p>
            <p>Mon-Fri 8am – 5pm</p>
            <p>Sat    8am – 12pm</p>
            <p>&nbsp;</p>
            <h3><b>Goroka</b></h3>
            <p>PNG Ink &amp; Toner Building 1st Floor</p>
            <p>Goroka</p>
            <p>Mon-Fri 8am – 5pm</p>
            <p>&nbsp;</p>
            <h3><b>Madang</b></h3>
            <p>Becksley Plaza 1<sup>st</sup> Floor</p>
            <p>Madang</p>
            <p>Mon-Fri 8am – 5pm</p>*@

        </div>

    </div>

</div>
