@{
    ViewBag.Title = "Why bmobile-Vodafone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="choose_box remov_padd">

    <div class="sub_page">
        <h1>Why bmobile-Vodafone</h1>

        <p>bmobile-Vodafone is committed to providing a reliable and cost effect service to the people of Papua New Guinea and the Solomon Islands.</p>

        <p>Bmobile continues to challenge the market in order to improve our customer service and network services for the benefit of our customers.</p>
    </div>

</div>