@{
    ViewBag.Title = "Forbidden Access";
    Layout = "~/Views/Shared/_bm_Layout.cshtml";
}

<div class="choose_box remov_padd">
    <div class="sub_page">
        <p>Forbidden Access....Please click&nbsp;@Html.ActionLink("here", "login", "Care")&nbsp;to re-login your account</p>
    </div>
</div>

