@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_bm_Layout.cshtml";
}

<div class="choose_box remov_padd">
    <div class="sub_page">
        <p>The Page you are requesting could not be found...</p>
    </div>
</div>

