@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Technical Issue";
    Layout = "~/Views/Shared/_bm_Layout.cshtml";
}

<div class="choose_box remov_padd">
    <div class="sub_page">
        <p>Technical Issues occured, please contact your administrator...</p>
    </div>
</div>
